@plugin 'daisyui';
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: #f8ecff;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
