@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@plugin 'daisyui';
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: #f8ecff;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
